# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: requirements-txt-fixer
  - id: check-merge-conflict
  - id: check-json
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: pretty-format-json
    args: [--no-sort-keys, --autofix, --no-ensure-ascii]
- repo: https://github.com/adrienverge/yamllint
  rev: v1.29.0
  hooks:
  - id: yamllint
- repo: meta
  hooks:
  - id: check-hooks-apply
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.6.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.16
  hooks:
  - id: mdformat
    additional_dependencies:
    - mdformat-gfm==0.3.5
    - mdformat-black==0.1.1
    - mdformat-shfmt==0.1.0
- repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
  rev: v0.1.0
  hooks:
  - id: dockerfilelint
- repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
  rev: v1.1.2
  hooks:
  - id: dockerfile_lint
        # optional custom config:
        #args: [--json, --verbose, --dockerfile]
exclude: ^.*\.(patch)$

ci:
  autoupdate_schedule: quarterly
