# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: requirements-txt-fixer
  - id: check-merge-conflict
  - id: check-json
  - id: mixed-line-ending
    args: [--fix=lf]
  - id: pretty-format-json
    args: [--no-sort-keys, --autofix, --no-ensure-ascii]
- repo: https://github.com/adrienverge/yamllint
  rev: v1.38.0
  hooks:
  - id: yamllint
- repo: meta
  hooks:
  - id: check-hooks-apply
  - id: check-useless-excludes
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.16.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
  - id: pretty-format-toml
    args: [--autofix]
- repo: https://github.com/executablebooks/mdformat
  rev: 1.0.0
  hooks:
  - id: mdformat
    additional_dependencies:
    - mdformat-gfm==1.0.0
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.11.0.1
  hooks:
  - id: shellcheck
    require_serial: true
- repo: https://github.com/scop/pre-commit-shfmt
  rev: v3.12.0-2
  hooks:
  - id: shfmt
    args: [--write]
- repo: https://github.com/rhysd/actionlint
  rev: v1.7.11
  hooks:
  - id: actionlint
- repo: https://github.com/zizmorcore/zizmor-pre-commit
  rev: v1.22.0
  hooks:
  - id: zizmor
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.1
  hooks:
  - id: ruff-check
    args:
    - --fix
    - --exit-non-zero-on-fix
  - id: ruff-format
- repo: https://github.com/adamchainz/djade-pre-commit
  rev: 1.7.0
  hooks:
  - id: djade
    args: [--target-version, '5.1']
    files: etc/nginx/default.tpl
- repo: https://github.com/crate-ci/typos
  rev: v1.43.5
  hooks:
  - id: typos
    args: []
    require_serial: true
    pass_filenames: false
- repo: https://github.com/mongodb/kingfisher
  rev: v1.82.0
  hooks:
  - id: kingfisher-auto
ci:
  autoupdate_schedule: quarterly
  skip:
  - kingfisher-auto
