aeidon==1.9
akismet==1.1
argon2-cffi==20.1.0
bleach==3.3.0
celery==5.0.5
# For Azure Tenant auth
cryptography==3.4.7
Django==3.2.2
django-appconf==1.0.4
django-auth-ldap==2.4.0
django-crispy-forms==1.11.2
django-redis==4.12.1
django_compressor==2.4.1
djangorestframework==3.12.4
# Alernative Celery pool implementation
gevent==21.1.2
git-review==2.1.0
hiredis==2.0.0
httpretty==1.1.1
# Patched supervisor-stdout with following fixes:
# - https://github.com/coderanger/supervisor-stdout/pull/12
# - https://github.com/coderanger/supervisor-stdout/pull/18
# - https://github.com/coderanger/supervisor-stdout/pull/20
https://github.com/nijel/supervisor-stdout/archive/c909c1a1ddabaf679dc2eaecb3b8f5ad6bef467a.zip
iniparse==0.5
jellyfish==0.8.2
lxml==4.6.3
mercurial==5.8
openpyxl==3.0.7
phply==1.2.5
psycopg2==2.8.6
python-dateutil==2.8.1
python3-saml==1.10.1
pyuca==1.2
raven
redis==3.5.3
responses>=0.10.1,<0.14.0
rollbar
ruamel.yaml==0.17.4
selenium
setuptools
siphashc==2.1
supervisor==4.2.2
tesserocr==2.5.1
translate-toolkit==3.3.6
translation-finder==2.9
weblate-fedora-messaging==0.4
weblate-language-data==2021.4
zeep==4.0.0
