aeidon==1.13
ahocorasick-rs==0.22.0
aliyun-python-sdk-alimt==3.2.0
argon2-cffi==23.1.0
borgbackup==1.2.7
boto3==1.34.64
celery==5.3.6
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
# For Argon2 and misaka
cffi==1.16.0
# For Azure Tenant auth
cryptography==42.0.5
Django==4.2.11
django-appconf==1.0.6
django-auth-ldap==4.6.0
django-cors-headers==4.3.1
django-crispy-forms==2.1
django-redis==5.4.0
django_compressor==4.4
djangorestframework==3.14.0
# Alernative Celery pool implementation
gevent==24.2.1
git-review==2.3.1
google-cloud-translate==3.15.3
gunicorn==21.2.0
hiredis==2.3.2
html2text==2020.1.16
httpretty==1.1.4
# Patched supervisor-stdout with following fixes:
# - https://github.com/coderanger/supervisor-stdout/pull/12
# - https://github.com/coderanger/supervisor-stdout/pull/18
# - https://github.com/coderanger/supervisor-stdout/pull/20
https://github.com/nijel/supervisor-stdout/archive/c909c1a1ddabaf679dc2eaecb3b8f5ad6bef467a.zip
iniparse==0.5
lxml==5.1.0
mercurial==6.7
mistletoe==1.3.0
nh3==0.2.15
openai==1.12.0
openpyxl==3.1.2
phply==1.2.6
Pillow==10.2.0
pip==24.0
psycopg[binary]==3.1.18
Pygments==2.17.2
pyOpenSSL==24.1.0
pyparsing==3.1.2
python-akismet==0.4.3
python-dateutil==2.9.0.post0
python3-saml==1.16.0
pyuca==1.2
rapidfuzz==3.6.2
raven
redis==5.0.3
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
rollbar==1.0.0
ruamel.yaml==0.18.6
sentry-sdk==1.42.0
setuptools==69.2.0
siphashc==2.4.1
social-auth-app-django==5.4.0
social-auth-core==4.5.3
supervisor==4.2.5
tesserocr==2.6.2
translate-toolkit==3.12.2
translation-finder==2.16
urllib3==2.2.1
weblate-fedora-messaging==0.7
weblate-language-data==2024.3
wheel==0.43.0
wllegal==2023.5
zeep==4.2.1
