aeidon==1.10.1
akismet==1.1
argon2-cffi==21.1.0
bleach==4.1.0
celery==5.2.0
# For Argon2 and misaka
cffi==1.15.0
# For Azure Tenant auth
cryptography==35.0.0
Django==3.2.9
django-appconf==1.0.5
django-auth-ldap==3.0.0
django-crispy-forms==1.13.0
django-redis==5.0.0
django_compressor==2.4.1
djangorestframework==3.12.4
# Alernative Celery pool implementation
gevent==21.8.0
git-review==2.1.0
hiredis==2.0.0
httpretty==1.1.4
# Patched supervisor-stdout with following fixes:
# - https://github.com/coderanger/supervisor-stdout/pull/12
# - https://github.com/coderanger/supervisor-stdout/pull/18
# - https://github.com/coderanger/supervisor-stdout/pull/20
https://github.com/nijel/supervisor-stdout/archive/c909c1a1ddabaf679dc2eaecb3b8f5ad6bef467a.zip
iniparse==0.5
jellyfish==0.8.9
lxml==4.6.4
mercurial==5.9.3
openpyxl==3.0.9
phply==1.2.5
pip==21.3.1
psycopg2==2.9.2
python-dateutil==2.8.2
python3-saml==1.12.0
pyuca==1.2
raven
redis==3.5.3
responses>=0.10.1,<0.16.0
rollbar
ruamel.yaml==0.17.17
selenium
setuptools==58.5.3
siphashc==2.1
supervisor==4.2.2
tesserocr==2.5.2
translate-toolkit==3.5.1
translation-finder==2.10
weblate-fedora-messaging==0.4
weblate-language-data==2021.5
wheel==0.37.0
zeep==4.1.0
