name: Docker container build

on:
  workflow_call:
    inputs:
      variant:
        required: true
        type: string
      architecture:
        required: true
        type: string
      weblate_sha:
        required: false
        type: string
      weblate_date:
        required: false
        type: string

jobs:
  container-build:
    runs-on: ${{ inputs.architecture == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    name: Build, ${{ inputs.variant }}, ${{ inputs.architecture }}
    env:
      MATRIX_ARCHITECTURE: linux/${{ inputs.architecture }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: uv cache
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      id: cache
      with:
        path: uv-cache
        key: uv-cache-${{ hashFiles('Dockerfile') }}-${{ inputs.architecture }}
    - name: Set up QEMU
      if: inputs.architecture != 'amd64' && inputs.architecture != 'arm64'
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      with:
        platforms: linux/${{ inputs.architecture }}
    - name: Expose GitHub Runtime
      uses: crazy-max/ghaction-github-runtime@3cb05d89e1f492524af3d41a1c98c83bc3025124 # v3.1.0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - name: Adjust bleeding edge image
      if: inputs.variant == 'bleeding'
      run: .github/bin/bleeding "$WEBLATE_SHA" "$WEBLATE_DATE"
      env:
        WEBLATE_SHA: ${{ inputs.weblate_sha }}
        WEBLATE_DATE: ${{ inputs.weblate_date }}
    - name: Configure Docker build
      run: .github/bin/get-buildx-args
    - name: inject cache into docker
      uses: reproducible-containers/buildkit-cache-dance@5b81f4d29dc8397a7d341dba3aeecc7ec54d6361 # v3.3.0
      with:
        cache-map: |
          {
            "uv-cache": "/.uv-cache"
          }
        skip-extraction: ${{ steps.cache.outputs.cache-hit }}
    - run: mkdir -p "/tmp/.buildx-cache/$MATRIX_ARCHITECTURE"
    - name: Build the Docker image
      run: .github/bin/docker-build
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: Docker cache ${{ inputs.architecture }}
        path: /tmp/.buildx-cache/linux/${{ inputs.architecture }}
        retention-days: 1
permissions:
  contents: read
