name: Docker container CI

on:
  workflow_call:
    inputs:
      variant:
        required: true
        type: string
    secrets:
      DOCKERHUB_ACCESS_TOKEN:
        description: Docker Hub access token
      DOCKERHUB_USERNAME:
        description: Docker Hub username

permissions:
  contents: read

jobs:
  revisions:
    runs-on: ubuntu-24.04
    outputs:
      weblate_sha: ${{ steps.get_sha.outputs.sha }}
      weblate_date: ${{ steps.get_date.outputs.date }}
    steps:
    - id: get_sha
      run: echo "sha=$(git ls-remote --quiet https://github.com/WeblateOrg/weblate.git HEAD | awk '{print $1}')" >> "$GITHUB_OUTPUT"
    - id: get_date
      run: echo "date=$(date --iso-8601=ns)" >> "$GITHUB_OUTPUT"
  build:
    needs:
    - revisions
    uses: ./.github/workflows/container-build.yml
    with:
      variant: ${{ inputs.variant }}
      architecture: amd64
      weblate_sha: ${{needs.revisions.outputs.weblate_sha}}
      weblate_date: ${{needs.revisions.outputs.weblate_date}}

  buildx:
    needs:
    - revisions
    uses: ./.github/workflows/container-build.yml
    with:
      variant: ${{ inputs.variant }}
      architecture: arm64
      weblate_sha: ${{needs.revisions.outputs.weblate_sha}}
      weblate_date: ${{needs.revisions.outputs.weblate_date}}

  test-basic:
    needs:
    - revisions
    - build
    uses: ./.github/workflows/container-test.yml
    with:
      variant: ${{ inputs.variant }}
      test: basic
      weblate_sha: ${{needs.revisions.outputs.weblate_sha}}
      weblate_date: ${{needs.revisions.outputs.weblate_date}}

  test-anubis:
    needs:
    - revisions
    - build
    uses: ./.github/workflows/container-test.yml
    with:
      variant: ${{ inputs.variant }}
      test: anubis
      weblate_sha: ${{needs.revisions.outputs.weblate_sha}}
      weblate_date: ${{needs.revisions.outputs.weblate_date}}

  test-novolume:
    needs:
    - revisions
    - build
    uses: ./.github/workflows/container-test.yml
    with:
      variant: ${{ inputs.variant }}
      test: read-write
      weblate_sha: ${{needs.revisions.outputs.weblate_sha}}
      weblate_date: ${{needs.revisions.outputs.weblate_date}}

  test-localtime:
    needs:
    - revisions
    - build
    uses: ./.github/workflows/container-test.yml
    with:
      variant: ${{ inputs.variant }}
      test: localtime
      weblate_sha: ${{needs.revisions.outputs.weblate_sha}}
      weblate_date: ${{needs.revisions.outputs.weblate_date}}

  test-saml:
    needs:
    - revisions
    - build
    uses: ./.github/workflows/container-test.yml
    with:
      variant: ${{ inputs.variant }}
      test: saml
      weblate_sha: ${{needs.revisions.outputs.weblate_sha}}
      weblate_date: ${{needs.revisions.outputs.weblate_date}}

  test-split:
    needs:
    - revisions
    - build
    uses: ./.github/workflows/container-test.yml
    with:
      variant: ${{ inputs.variant }}
      test: split
      weblate_sha: ${{needs.revisions.outputs.weblate_sha}}
      weblate_date: ${{needs.revisions.outputs.weblate_date}}

  test-single-celery:
    needs:
    - revisions
    - build
    uses: ./.github/workflows/container-test.yml
    with:
      variant: ${{ inputs.variant }}
      test: celery-single
      weblate_sha: ${{needs.revisions.outputs.weblate_sha}}
      weblate_date: ${{needs.revisions.outputs.weblate_date}}

  test-ssl:
    needs:
    - revisions
    - build
    uses: ./.github/workflows/container-test.yml
    with:
      variant: ${{ inputs.variant }}
      test: basic
      port: 4443
      protocol: https
      weblate_sha: ${{needs.revisions.outputs.weblate_sha}}
      weblate_date: ${{needs.revisions.outputs.weblate_date}}

  anchore:
    runs-on: ubuntu-24.04
    name: Anchore Container Scan
    needs:
    - revisions
    - build
    permissions:
      security-events: write
    env:
      MATRIX_ARCHITECTURE: linux/amd64
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - name: Expose GitHub Runtime
      uses: crazy-max/ghaction-github-runtime@3cb05d89e1f492524af3d41a1c98c83bc3025124 # v3.1.0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
      with:
        name: Docker cache amd64
        path: /tmp/.buildx-cache/linux/amd64
    - name: Adjust bleeding edge image
      if: inputs.variant == 'bleeding'
      run: .github/bin/bleeding "$WEBLATE_SHA" "$WEBLATE_DATE"
      env:
        WEBLATE_SHA: ${{ needs.revisions.outputs.weblate_sha }}
        WEBLATE_DATE: ${{ needs.revisions.outputs.weblate_date }}
    - name: Build the Docker image
      run: .github/bin/docker-build load
    - name: List Docker images
      run: docker image ls --all
    - name: Checkout the code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - name: Anchore scan action
      uses: anchore/scan-action@568b89d27fc18c60e56937bff480c91c772cd993 # v7.1.0
      id: scan
      with:
        image: weblate/weblate:test
        fail-build: false
    - name: Upload Anchore Scan Report
      uses: github/codeql-action/upload-sarif@4e94bd11f71e507f7f87df81788dff88d1dacbfb # v4.31.0
      with:
        sarif_file: ${{ steps.scan.outputs.sarif }}

  trivy:
    runs-on: ubuntu-24.04
    name: Trivy Container Scan
    needs:
    - revisions
    - build
    permissions:
      security-events: write
    env:
      MATRIX_ARCHITECTURE: linux/amd64
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - name: Expose GitHub Runtime
      uses: crazy-max/ghaction-github-runtime@3cb05d89e1f492524af3d41a1c98c83bc3025124 # v3.1.0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
      with:
        name: Docker cache amd64
        path: /tmp/.buildx-cache/linux/amd64
    - name: Adjust bleeding edge image
      if: inputs.variant == 'bleeding'
      run: .github/bin/bleeding "$WEBLATE_SHA" "$WEBLATE_DATE"
      env:
        WEBLATE_SHA: ${{ needs.revisions.outputs.weblate_sha }}
        WEBLATE_DATE: ${{ needs.revisions.outputs.weblate_date }}
    - name: Build the Docker image
      run: .github/bin/docker-build load
    - name: List Docker images
      run: docker image ls --all
    - name: Checkout the code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
      with:
        image-ref: weblate/weblate:test
        format: sarif
        output: trivy-results.sarif
        severity: CRITICAL,HIGH

    - name: Upload Trivy scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@4e94bd11f71e507f7f87df81788dff88d1dacbfb # v4.31.0
      with:
        sarif_file: trivy-results.sarif
    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: Trivy scan SARIF
        path: trivy-results.sarif

  merge:
    runs-on: ubuntu-24.04
    name: Merge images, ${{ inputs.variant }}
    needs:
    - build
    - buildx
    - revisions
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - name: Set up QEMU
      uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      with:
        platforms: all
    - name: Expose GitHub Runtime
      uses: crazy-max/ghaction-github-runtime@3cb05d89e1f492524af3d41a1c98c83bc3025124 # v3.1.0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
      with:
        name: Docker cache amd64
        path: /tmp/.buildx-cache/linux/amd64
    - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
      with:
        name: Docker cache arm64
        path: /tmp/.buildx-cache/linux/arm64
    - name: Adjust bleeding edge image
      if: inputs.variant == 'bleeding'
      run: .github/bin/bleeding "$WEBLATE_SHA" "$WEBLATE_DATE"
      env:
        WEBLATE_SHA: ${{ needs.revisions.outputs.weblate_sha }}
        WEBLATE_DATE: ${{ needs.revisions.outputs.weblate_date }}
    - name: Configure Docker build
      run: .github/bin/get-buildx-args
    - name: Merge the Docker images
      run: .github/bin/docker-build

  tests-all:
    runs-on: ubuntu-24.04
    name: Tests, ${{ inputs.variant }}
    needs:
    - test-basic
    - test-anubis
    - test-saml
    - test-split
    - test-single-celery
    - test-novolume
    - test-ssl
    - test-localtime
    steps:
    # This is dependency only job to collect all test results
    - run: echo

  lint-all:
    runs-on: ubuntu-24.04
    name: Lint, ${{ inputs.variant }}
    needs:
    - anchore
    - trivy
    steps:
    # This is dependency only job to collect all lint results
    - run: echo

  push_dockerhub:
    runs-on: ubuntu-24.04
    name: Publish to Docker Hub, ${{ inputs.variant }}
    needs:
    - tests-all
    - lint-all
    - merge
    - revisions
    if: ${{ (startsWith(github.ref, 'refs/tags/') || (github.ref == 'refs/heads/main')) && github.repository == 'WeblateOrg/docker' }}
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - name: Set up QEMU
      uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      with:
        platforms: all
    - name: Expose GitHub Runtime
      uses: crazy-max/ghaction-github-runtime@3cb05d89e1f492524af3d41a1c98c83bc3025124 # v3.1.0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
      with:
        name: Docker cache amd64
        path: /tmp/.buildx-cache/linux/amd64
    - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
      with:
        name: Docker cache arm64
        path: /tmp/.buildx-cache/linux/arm64
    - name: DockerHub login
      run: echo "${{ secrets.DOCKERHUB_ACCESS_TOKEN }}" | docker login --username "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
    - name: Adjust bleeding edge image
      if: inputs.variant == 'bleeding'
      run: .github/bin/bleeding "$WEBLATE_SHA" "$WEBLATE_DATE"
      env:
        WEBLATE_SHA: ${{ needs.revisions.outputs.weblate_sha }}
        WEBLATE_DATE: ${{ needs.revisions.outputs.weblate_date }}
    - name: Configure Docker build
      run: .github/bin/get-buildx-args "publish-$WEBLATE_VARIANT"
      env:
        WEBLATE_VARIANT: ${{ inputs.variant }}
    - name: Publish the Docker images
      run: .github/bin/docker-build "publish-$WEBLATE_VARIANT"
      env:
        WEBLATE_VARIANT: ${{ inputs.variant }}

  push_github:
    runs-on: ubuntu-24.04
    name: Publish to GitHub, ${{ inputs.variant }}
    permissions:
      packages: write
    needs:
    - tests-all
    - lint-all
    - merge
    - revisions
    if: ${{ (startsWith(github.ref, 'refs/tags/') || (github.ref == 'refs/heads/main')) && github.repository == 'WeblateOrg/docker' }}
    env:
      DOCKER_IMAGE: ghcr.io/weblateorg/weblate
    steps:
    - name: Checkout
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - name: Set up QEMU
      uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      with:
        platforms: all
    - name: Expose GitHub Runtime
      uses: crazy-max/ghaction-github-runtime@3cb05d89e1f492524af3d41a1c98c83bc3025124 # v3.1.0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
      with:
        name: Docker cache amd64
        path: /tmp/.buildx-cache/linux/amd64
    - uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
      with:
        name: Docker cache arm64
        path: /tmp/.buildx-cache/linux/arm64
    - name: Login to GitHub Container Registry
      if: ${{ github.event_name != 'pull_request'}}
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Adjust bleeding edge image
      if: inputs.variant == 'bleeding'
      run: .github/bin/bleeding "$WEBLATE_SHA" "$WEBLATE_DATE"
      env:
        WEBLATE_SHA: ${{ needs.revisions.outputs.weblate_sha }}
        WEBLATE_DATE: ${{ needs.revisions.outputs.weblate_date }}
    - name: Configure Docker build
      run: .github/bin/get-buildx-args "publish-$WEBLATE_VARIANT"
      env:
        WEBLATE_VARIANT: ${{ inputs.variant }}
    - name: Publish the Docker images
      run: .github/bin/docker-build "publish-$WEBLATE_VARIANT"
      env:
        WEBLATE_VARIANT: ${{ inputs.variant }}
