name: Docker container test

on:
  workflow_call:
    inputs:
      variant:
        required: true
        type: string
      architecture:
        required: true
        type: string
      weblate_sha:
        required: false
        type: string
      weblate_date:
        required: false
        type: string

jobs:
  container-build:
    runs-on: ${{ inputs.architecture == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    name: Build, ${{ inputs.variant }}, ${{ inputs.architecture }}
    env:
      MATRIX_ARCHITECTURE: linux/${{ inputs.architecture }}
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: uv cache
      uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
      id: cache
      with:
        path: uv-cache
        key: uv-cache-${{ hashFiles('Dockerfile') }}-${{ inputs.architecture }}
    - name: Set up QEMU
      if: inputs.architecture != 'amd64' && inputs.architecture != 'arm64'
      uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      with:
        platforms: linux/${{ inputs.architecture }}
    - name: Expose GitHub Runtime
      uses: crazy-max/ghaction-github-runtime@b3a9207c0e1ef41f4cf215303c976869d0c2c1c4 # v3.0.0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0
      with:
        # renovate: datasource=github-releases depName=docker/buildx
        version: v0.21.2
    - name: Adjust bleeding edge image
      if: inputs.variant == 'bleeding'
      run: .github/bin/bleeding ${{ inputs.weblate_sha }}  ${{ inputs.weblate_date }}
    - name: Configure Docker build
      run: .github/bin/get-buildx-args
    - name: inject cache into docker
      uses: reproducible-containers/buildkit-cache-dance@5b6db76d1da5c8b307d5d2e0706d266521b710de # v3.1.2
      with:
        cache-map: |
          {
            "uv-cache": "/.uv-cache"
          }
        skip-extraction: ${{ steps.cache.outputs.cache-hit }}
    - run: mkdir -p "/tmp/.buildx-cache/$MATRIX_ARCHITECTURE"
    - name: Build the Docker image
      run: .github/bin/docker-build
    - uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
      with:
        name: Docker cache ${{ inputs.architecture }}
        path: /tmp/.buildx-cache/linux/${{ inputs.architecture }}
        retention-days: 1
permissions:
  contents: read
