name: Docker container build

on:
  workflow_call:
    inputs:
      variant:
        required: true
        type: string
      architecture:
        required: true
        type: string
      weblate_sha:
        required: false
        type: string
      weblate_date:
        required: false
        type: string

jobs:
  container-build:
    runs-on: ${{ inputs.architecture == 'arm64' && 'ubuntu-24.04-arm' || 'ubuntu-24.04' }}
    name: Build, ${{ inputs.variant }}, ${{ inputs.architecture }}
    env:
      MATRIX_ARCHITECTURE: linux/${{ inputs.architecture }}
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: false
    - name: uv cache
      uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
      id: cache
      with:
        path: uv-cache
        key: uv-cache-${{ hashFiles('Dockerfile') }}-${{ inputs.architecture }}
    - name: Set up QEMU
      if: inputs.architecture != 'amd64' && inputs.architecture != 'arm64'
      uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      with:
        platforms: linux/${{ inputs.architecture }}
    - name: Expose GitHub Runtime
      uses: crazy-max/ghaction-github-runtime@3cb05d89e1f492524af3d41a1c98c83bc3025124 # v3.1.0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - name: Adjust bleeding edge image
      if: inputs.variant == 'bleeding'
      run: .github/bin/bleeding "$WEBLATE_SHA" "$WEBLATE_DATE"
      env:
        WEBLATE_SHA: ${{ inputs.weblate_sha }}
        WEBLATE_DATE: ${{ inputs.weblate_date }}
    - name: Configure Docker build
      run: .github/bin/get-buildx-args
    - name: inject cache into docker
      uses: reproducible-containers/buildkit-cache-dance@5b81f4d29dc8397a7d341dba3aeecc7ec54d6361 # v3.3.0
      with:
        cache-map: |
          {
            "uv-cache": "/.uv-cache"
          }
        skip-extraction: ${{ steps.cache.outputs.cache-hit }}
    - run: mkdir -p "/tmp/.buildx-cache/$MATRIX_ARCHITECTURE"
    - name: Build the Docker image
      run: .github/bin/docker-build
    - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: Docker cache ${{ inputs.architecture }}
        path: /tmp/.buildx-cache/linux/${{ inputs.architecture }}
        retention-days: 1
permissions:
  contents: read
