name: Docker Image CI

on:
  push:
    branches-ignore:
    - renovate/**
    tags:
    - '*'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  ci:
    uses: ./.github/workflows/container-ci.yml
    secrets:
      DOCKERHUB_ACCESS_TOKEN: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      security-events: write
      packages: write
      contents: read
    with:
      variant: stable

  release_github:
    runs-on: ubuntu-24.04
    name: Create release on GitHub
    permissions:
      contents: write
    needs:
    - ci
    if: ${{ startsWith(github.ref, 'refs/tags/')  && github.repository == 'WeblateOrg/docker' }}
    steps:
    - uses: ncipollo/release-action@440c8c1cb0ed28b9f43e4d1d670870f059653174 # v1.16.0
      with:
        generateReleaseNotes: true
