# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: CC0-1.0

# This file is maintained in https://github.com/WeblateOrg/meta/
name: Sync labels

on:
  push:
    branches:
    - main
    paths:
    - .github/labels.yml
    - .github/workflows/label-sync.yml

permissions:
  issues: write

jobs:
  build:
    name: Sync labels
    runs-on: ubuntu-slim
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - uses: srealmoreno/label-sync-action@850ba5cef2b25e56c6c420c4feed0319294682fd # v2.0.0
      with:
        clean-labels: true
